/* change the fonts */
html,
body {
  background-color: #212529;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  margin: 0%;
}

/* NAVBAR */
header {
  background-color: #1c1f22;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0%;
  margin: 0%;
}

.nav-link {
  color: white;
}

.hello {
  background-color: #2f4df8;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  font-size: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  text-transform: uppercase;
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 25px;
}

.left-side {
  display: flex;
}

.right-side {
  display: flex;
  flex-direction: column;
  max-width: 35vh;
  font-size: 20px;
}

.image-header {
  border-radius: 10px;
  display: flex;
  align-self: center;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.btn-left {
  background-color: #2f4df8;
  border-radius: 6px;
  color: white;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  font-size: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-right {
  background-color: #2f4df800;
  border-radius: 6px;
  color: white;
  border: 1px solid #2f4df8;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  font-size: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* LINKS */
a:link {
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  text-decoration: none;
}

/* THINGS I DO */
.grid-box {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 250px 250px;
  grid-auto-rows: 50px;
  gap: 50px;
  color: white;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #121416;
    padding-top: 30px;
    margin: 0px !important;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.icon {
  max-width: 80px;
  display: flex;  
}